@media (min-width: 740px) {
  #nav .nav-more:hover .subnav {
    display: block;
  }

  .row {
    margin: 0px -8px;
  }
  
  .row::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .col {
    float: left;
    padding: 0px 8px;
  }
  
  .col-third {
    width: 33.33333%;
  }
  
  .col-half {
    width: 50%;
  }
  
  .col-full {
    width: 100%;
  }
}

@media (max-width: 739px) {
  #nav > li {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #nav li a {
    display: block;
    padding: 1px 24px;
  }

  #nav {
    display: block;
  }

  #header {
    overflow: hidden;
  }

  #nav .nav-more {
    display: block;
    padding: 1px 0px;
    padding-left: 24px;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav a {
    color: #fff;
    padding: 5px 40px;
  }

  #header .subnav-icon {
    display: block;
  }

  #header .search-btn {
    display: none;
  }

  #header .subnav-icon:hover {
    background-color: #ccc;
  }

  #header .subnav-icon:hover .menu-icon {
    color: #000;
  }

  #content .member-img {
    width: 205px;
    margin-bottom: 31px;
  }

  .col {
    padding-bottom: 16px;
  }

  .content-section .form-message {
    padding-top: 0px;
  }
}
